/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts - Inter */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style Section */
.btn {
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #14753d;
    box-shadow: 0 4px 15px rgba(48, 184, 104, 0.4);
}

/* Header Section */
/* Style Navbar Section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 120px;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: all 0.3s ease;
}

nav .menu a:hover {
    color: #30B868;
    font-weight: 700;
    transform: scale(1.1);
}

/* Style Banner Section */
#banner {
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.5) 100%), url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    padding: 70px 120px 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#banner .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1360px;
}

#banner .banner-announcement {
    padding: 8px 12px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    transition: all 0.3s ease;
}

#banner .banner-announcement:hover {
    box-shadow: 0 4px 15px rgba(247, 248, 247, 0.4);
    transform: scale(1.1);
}

#banner .banner-announcement img {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 8px;
}

#banner .banner-announcement p {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    text-align: center;
    transition: all 0.3s ease;
}

.banner-announcement p:hover {
   font-weight: 700;
}

.banner-container h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-container h1 .green-part {
    color: #30B868;
}

/* Target specific paragraph below heading to add spacing without affecting other paragraphs */
.banner-container .banner-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#t-btn {
    border: solid;
    background:transparent;
}

/* Notes Section */
#notes-section {
    height: 448px;
    background-color: #fbfbfb;
}

#notes-section .notes-container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    gap: 44px;
}

.notes-container .section-heading {
    margin: 0 auto;
    padding-top: 60px;

}

.notes-container .section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.notes-container .section-heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.notes-container .notes-box {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.notes-box .notes-card {
    width: 100%;
    max-width: 322px;
    padding: 24px;
    border-radius: 10px 10px 0 0;
    background-color: #FFFFFF;
}

.notes-icon-bg {
    width: 62px;
    height: 62px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 16px auto;
}

.notes-icon-bg img {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

.notes-card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.notes-card p {
    font-size: 16px;
    font-weight: normal;
    color: #627382;
}