/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts - Inter */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style Section */
.btn {
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #14753d;
    box-shadow: 0 4px 15px rgba(48, 184, 104, 0.4);
}

/* Header Section */
/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 120px;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: all 0.3s ease;
}

nav .menu a:hover {
    color: #30B868;
    font-weight: 700;
    transform: scale(1.1);
}

